html, body {
	margin: 0;
	padding: 0;
}

.localVideo{
   position: absolute;
    right: 10px;
    bottom: 10px;
    max-width: 10%;
    
}

.remoteVideo{
height:100vh;

}

.menuBar{
width:100%;

}
.buttonBar{
 margin: 0 auto; 
width:250px;
 }
