/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/****** END RESET CSS *******/

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1f497d;
}

/*
 * Added to elements that support dropping the currently dragging element into them.
 */
html /deep/ .drop-active {
    background-color: #ffff00 !important;
}

/*
 * Added to elements into which the currently dragging element can be dropped.
 */
html /deep/ .drop-entered {
    background-color: green !important;
}

html /deep/ core-icon-button {
    border-radius: 1px;
}

html /deep/ button {
    float: right;
    margin-left: 0.8em;
    background-color: #333;
    opacity: 0.4;
    transition: opacity 420ms ease-in-out;
    border-radius: 0.15em;
    color: #fff;
    font-size: 1.5em;
    text-decoration: none;
    cursor: pointer;
    border: none;
    padding: 0.4em 1.5em;
    box-shadow: 0 0 1px #777;
}

html /deep/ button:hover {
    border: none;
    opacity: 1;
}

html /deep/ button:active {
    border: none;
    background: #000;
}
