<link rel="import" href="../elements/app-layout.html">

<polymer-element name="layout-single" extends="app-layout">
    <template>
        <style>
            #container {
                text-align: center;
            }

            #widgetmain {
                margin: 1em auto;
                display: inline-block;
                text-align: left;
            }
        </style>
        <div id="container">
            <div id="widgetmain"></div>
        </div>
    </template>
    <script>
        Polymer({});
    </script>
</polymer-element>